.titulo-faqs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-image: url(../img/fondo-faq.png);
    height: 150px;
    width: 50%;
    padding: 20px;
}
.logo-airmax {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: auto;
}