.Lista-contenedor{
    margin: auto;
    @include flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 90%;
}
.contenedor-producto{
    border-radius: 20px;
    width: 300px;
   
    height: 400px;
    box-shadow: 2px 2px 5px black;
    padding: 5px;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-weight: bold;
}
.imgpro {
    height: 200px;
   width: auto;
    background-size: cover;
    border-radius: 20px;
    transition: 1s ease;
}
.img-carrier{
    background-image: url(img/AA-CARRIER.png);
}
.img-mideainv{
    background-image: url(img/AA-MIDEA.png);
}

.c2250:hover{
    background-image: url(img/equipocarrier.png);
}
.c3000:hover{
    background-image: url(img/equipocarrier.png);
}
.c4500:hover{
    background-image: url(img/equipocarrier.png);
}
.c5500:hover{
    background-image: url(img/equipocarrier.png);
}
.m2200:hover{
    background-image: url(img/equipomidea.jpeg);
}
.m3000:hover{
    background-image: url(img/equipomidea.jpeg);
}
.m4500:hover{
    background-image: url(img/equipomidea.jpeg);
}
.m5500:hover{
    background-image: url(../../img/equipomidea.jpeg);
}