* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $font-principal;

}

a:hover {
    color: green;
    transition: 1s;
}

/* Comienzo de Header*/
header {
    font-size: 20px;
    height: fit-content;
    justify-content: center;
    text-align: center;
    gap: 50px;

    img {
        text-align: center;
        justify-content: center;
        width: 250px;
        height: 70px;
        margin: auto;
    }
}

.navbar {
    justify-content: center;
    text-align: center;
}
.navbar-nav a:hover{
    color:$font-secondary;
}

.contenedor-navegacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

/*Comienzo de Footer*/
.contacto {

    width: fit-content;
    @include flex;

    &-container-datos {
        font-family: 'Oswald', sans-serif;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
        flex-direction: column;

        &-items {
            display: flex;
            justify-content: center;
            text-align: center;
            margin: auto;

            a {
                display: flex;
                justify-content: left;
                gap: 10px;
                height: 120px;
                color: rgb(31, 31, 180);
            }
        }
    }
}

.redes-sociales {
    flex-wrap: wrap;
    width: fit-content;
    display: flex;
    font-size: 60px;
    gap: 10px;
    margin: auto;

    &-links {
        display: flex;
        flex-wrap: wrap;
        color: black;
        text-decoration: none;
    }
}

.fb-link:hover {
    color: blue;
}

.wa-link:hover {
    color: green;
}

.ig-link:hover {
    color: rgb(157, 76, 1);
}

.contacto-container-datos-items {
    i {
    display: flex;
    font-size: 30px;
    text-align: center;
    margin: 5px 5px;
    color: rgb(0, 0, 0);
}
p{
    text-align: justify;
}
}

.fondo-container {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

iframe {
    margin: auto;
    @include flex;
}